<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
       <%=link_to 'Building Maintenance', root_path, class:"navbar-brand text-dark"%></a>
    </a>
    <a> <i class="fa-solid fa-house"></i><%=link_to 'Home', root_path, class:"navbar-brand"%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown navbar-right">
          <a class="nav-link navbar-right  active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Action
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
                <li>
                    <%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
                </li>
                <li>
                    <%= link_to "Edit Profile", edit_user_registration_path , class: "dropdown-item" %>
                </li>
            <% else %>
                <li>
                    <%= link_to 'Login', new_user_session_path, class: 'dropdown-item'%>
                </li>
            <% end %>
         </ul>   
        </li>
      </ul>
    </div>
  </div>
</nav>

