<% if user_signed_in? %>
	<% if b.present?%>
		  <hr>
			<h4>If you have any maintenances issues, Here you can <%= link_to 'Raise Request', new_maintenance_path, class: "btn btn-danger text-light" %></h4>
			<h5>Here you can check your request status <%= link_to 'Check Request Status', maintenances_path, class: 'btn btn-info text-light'%></h5>
			<hr><h3>Building Details</h3>
			<table class="table table-striped table-hover">
				<thead class="table-info">
					<tr class="header">
						<th>Name</th>
						<th>Floors</th>
						<th>Lifts</th>
						<th>Apartments</th>
						<th>Parking Floors</th>
						<th>Maintenance Cost</th>
						<th>Building Owners</th>
						<th>Owner Emails</th>
						<th colspan="5" class="text-center bg-dark text-light">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% [b].each do |u| %>
						<tr>
							<td><%= u.name%></td>
							<td><%= u.floor%></td>
							<td><%= u.lift%></td>
							<td><%= u.apartment%></td>
							<td><%= u.parking_floor%></td>
							<td><%= u.maintenance_cost%></td>
							<td><%= u.user.name%></td>
							<td><%= u.user.email%></td>
							<td><%= link_to 'Pay Maintenance Fee here', payment_path(u.id,u.maintenance_cost), class: 'btn btn-success text-light' %></td>
							<% if current_user.payments.present?%>
								<td><%= link_to 'See all Transactions', transaction_path(current_user.id), class: 'btn btn-success text-light' %></td>
							<% end %>
						</tr>
					<%end%>
				</tbody>
			</table>
	<% else %>
		<h3 class = "text-success" >You are a new User</h3>
		<h4>If you want to became a client of any building then,<%= link_to 'Click here', building_index_path, class: "btn btn-info text-light" %></h4>
	<% end %>
<% else %>
	<h2>Welcome to Our 24*7 Service</h2>
	<h4 class= "text-success">Thanks for Choosing Us</h4>
<% end %>    		
