<% if @requestinfo.present? %>  
  <table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Issue_type</th>
            <th>Description</th>
            <th>Client Name</th>
            <th>Status</th>
            <% if current_user.role.downcase == "admin" || current_user.role.downcase == "building owner"%>
              <th> Comment </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @requestinfo.each do |m| %>
            <tr>
                <td><%= m.issue_type%></td>
                <td><%= m.description%></td>
                <td><%= m.user.name%></td>
                <% if m.owner_comment.present? %>
                  <td><%= m.owner_comment%></td>
                <% else %>
                  <td class="text-danger"><%= "Pending..."%></td>
                <% end %>
                <% if current_user.role.downcase == "admin" || current_user.role.downcase == "building owner"%>
                  <td><%= link_to 'Do your Response', update_path(m.id), class:"btn btn-info text-light" %></td>
                <% end %>
            </tr>
        <%end%>
    </tbody>
  </table>

  <%= link_to "Back", root_path %>
<% else %> 
  <% if current_user.role.downcase == "admin" || current_user.role.downcase == "building owner"%>
    <h2 class = "text-success">There is no request </h2>
  <% else %>
    <h2 class="text-danger"> You have no Request </h2>
    <h3> Please first raise any request here <%= link_to 'Raise Request', new_maintenance_path, class: "btn btn-danger text-light" %></h3>
  <% end %>
<% end %>